<div class="tile" style="margin-left: 600px;" *ngIf="this.person">
    <img class="background" src="https://images.unsplash.com/photo-1563199611-373f88ed91ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
    <div class="profile_pic">
      <img src="https://images.unsplash.com/photo-1563199611-373f88ed91ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
      <p class="title">{{this.person.firstName}} {{this.person.lastName}}</p>
      <p class="sub_title">Telefono: {{this.person.phoneNumber}}</p>
      <p class="sub_title">Celular: {{this.person.cellNumber}}</p>
      <div class="icons">
        <i class="fab fa-reddit fa-2x"></i>
        <i class="fab fa-twitter-square fa-2x"></i>
        <i class="fab fa-facebook-square fa-2x"></i>
      </div>
    </div>
  </div>