<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

        <a class="logo-wrapper waves-effect">
            <img src="../../../../assets/img/logo.png" class="img-fluid" alt="">
        </a>

        <div class="list-group list-group-flush">
            <a routerLink="/dashboard" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Dashboard
            </a>
            <a routerLink="/productos" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>Productos
            </a>
            <a routerLink="/perfil" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Perfil
            </a>
            <a routerLink="/cart" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect carrito-btn">
                <mdb-icon fas icon="shopping-cart" class="mr-3"></mdb-icon>Carrito<span class="cart-notification">1</span>
            </a>
            

        </div>


    </div>
    <!-- Sidebar -->
</header>
<!--Main Navigation-->