<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

        <a class="logo-wrapper waves-effect">
            <img src="../../../../assets/img/logo.png" class="img-fluid" alt="">
        </a>

        <div class="list-group list-group-flush">
            <a (click)="products()" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="cube" class="mr-3"></mdb-icon>Productos
            </a>
<!--
            <a routerLink="/productos" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="clipboard-list" class="mr-3"></mdb-icon>Productos
            </a>
        -->
            <a (click)="perfil()" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Perfil
            </a>
            <a routerLink="/arma" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="bicycle" class="mr-3"></mdb-icon>Arma Tu Bici
            </a>
            <a (click)="cart()" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="shopping-cart" class="mr-3"></mdb-icon>Carrito
            </a>
            <a (click)="chatBot()" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="comment" class="mr-3"></mdb-icon>ChatBot
            </a>
            <a (click)="chatSeller()" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="comments" class="mr-3"></mdb-icon>Chat Vendedor
            </a>
            <a (click)="report()" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="scroll" class="mr-3"></mdb-icon>Reporte
            </a>
            <a (click)="about()" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="scroll" class="mr-3"></mdb-icon>Contactanos
            </a>
            <a (click)="logout()" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="sign-out-alt" class="mr-3"></mdb-icon>Logout
            </a>
            <!-- Seller Sidebar -->
            

        </div>


    </div>
    <!-- Sidebar -->
</header>
<!--Main Navigation-->