<app-navigation (productsRoute)="item = 1; navTittle = 'Productos'"></app-navigation>
<main>
    <div class="navovernav">
        <h4 class="titleDestacados">{{navTittle}}
            <span style="float: right;">
                <a (click)="showCart()">
                    <mdb-icon fas icon="shopping-cart" class="notif mr-3"></mdb-icon><span class="num">{{cartArticles}}</span>
                </a>
            </span>
        </h4>
    </div>
    <div *ngIf="item == 1">
        <div class="container">
            <br>
            <br>
            <br>
            <mdb-carousel [animation]="'slide'">
                <mdb-carousel-item *ngFor="let product of products" style="margin-top: 15px; margin-left: 30%;">
                        <mdb-card class=""> 
                            <!--Card image-->
                            <mdb-card-img [src]="product.photoURL" style="width: 400px; height: 400px;" ></mdb-card-img>
                            <!--Card content-->
                            <mdb-card-body>
                                <!--Title-->
                                <mdb-card-title>
                                    <h4>{{product.name}}</h4>
                                </mdb-card-title>
                                <mdb-card-text>{{product.details}} - ${{product.price}}</mdb-card-text>
                                <a (click)="addCart(product)" mdbBtn color="primary" mdbWavesEffect>Añadir al carrito</a>
                            </mdb-card-body>
                        </mdb-card>
                </mdb-carousel-item>
              </mdb-carousel>
        </div>
    </div>

    <div *ngIf="item == 2">
        <div>yes</div>
    </div>
</main>