.titleDestacados {
    text-align: center;
    padding-top: 10px;;
}

.cart-notification {
    float: right;
    background-color: red;
    color: #fff;
    border-radius: 100%;
    padding: 5%;
  }
  
  .carrito-btn {
    background-color: #f5a90069;
      border-radius: 25px;
  }

  a.notif {
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    background: url('http://i.imgur.com/evpC48G.png');
    background-size: contain;
    text-decoration: none;
  }
  .num {
    position: absolute;
    right: 11px;
    top: 6px;
    color: #fff;
    background-color: red;
    border-radius: 100%;
    padding: 0.5px;
    float: right;
    font-size: 15px;
  }

  .navovernav {
      background-color: rgb(166, 166, 172);
      border-bottom: 1px solid rgba(216, 216, 216, 0.315);
      position: fixed;
      width: 78%;
      z-index: 1;
  }

  .destacados {
      margin-top: 20px;
  }