<main>
    <div class="navovernav">
        <h4 class="titleDestacados">Productos Destacados
            <span style="float: right;">
                <a>
                    <mdb-icon fas icon="shopping-cart" class="notif mr-3"></mdb-icon><span class="num">{{cartArticles}}</span>
                </a>
            </span>
        </h4>
    </div>
    <div class="container">
        <br>
        <br>
        <br>
        <mdb-carousel [animation]="'slide'">
            <mdb-carousel-item *ngFor="let product of products" style="margin-top: 15px; margin-left: 30%;">
                    <mdb-card class=""> 
                        <!--Card image-->
                        <mdb-card-img [src]="product.image"></mdb-card-img>
                        <!--Card content-->
                        <mdb-card-body>
                            <!--Title-->
                            <mdb-card-title>
                                <h4>{{product.name}}</h4>
                            </mdb-card-title>
    
                            <!--Text-->
                            <mdb-card-text>{{product.description}} - {{product.price}}</mdb-card-text>
    
                            <a (click)="addCart(product)" mdbBtn color="primary" mdbWavesEffect>Añadir al carrito</a>
                        </mdb-card-body>
                    </mdb-card>
            </mdb-carousel-item>
          </mdb-carousel>
    </div>
</main>