<main>
    <h4 class="titleDestacados">Productos Destacados</h4>
    <div class="container">
        <div class="row">
            <div *ngFor="let product of products" class="col-4">
                <mdb-card>
                    <!--Card image-->
                    <mdb-card-img [src]="product.image"></mdb-card-img>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>{{product.name}}</h4>
                        </mdb-card-title>
        
                        <!--Text-->
                        <mdb-card-text>{{product.description}} - {{product.price}}</mdb-card-text>
        
                        <a href="#" mdbBtn color="primary" mdbWavesEffect>Añadir al carrito</a>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>
</main>