<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <span style="float: right;">
                <a>
                    <mdb-icon fas icon="shopping-cart" class="notif mr-3"></mdb-icon><span
                        class="num">{{cartArticles}}</span>
                </a>
            </span>
        </div>
        <div class="col-sm-11">
            <div class="row">
                
            </div>
        </div>
    </div>
    <a mdbBtn color="primary" mdbWavesEffect>Agregar al carrito</a>
</div>